body{
    margin: 0;
}

#header-main{
    height: 180px;
    line-height: 180px;
    background: rgb(100, 148, 220) url(pattern.png) repeat;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

#logo{
    height: 60px;
    vertical-align: middle;
}

h1{
    font-size: 40px;
}

.text-gray{
    color: grey;
}

.text-small{
    font-size: 13px;
}

.article-main{
    margin-bottom: 20px;
}

.odd{
    background-color: rgb(136, 191, 255);
}

.even{
    background-color: white;
}

#pc-image{
    background-image: url(monitor.jpg);
}

#graph-image{
    background-image: url(graph.jpg);
}
.related{
    width: 200px;
    height: 170px;
    color: white;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
}

.table-head{
    background-color: rgb(58, 139, 186);
    color: white;
}